* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  margin: auto;
}

.header {
  text-align: center;
  padding: 2.5%;
  background-color: aquamarine;
}

#breed {
  margin: 2.5% 0;
}

#slideshow {
  max-width: 1200px;
  margin: auto;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
img {
  margin: 1em;
  display: inline-block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}
